<mat-toolbar color="primary">
    <div class="toolbar">

    <div>
        <mat-icon (click)="drawer.toggle()">menu</mat-icon>
    </div>

    <div class="logo">
        <img routerLink="/" src="../../../assets/img/logo.png" alt="logo da loja" class="img"/>
    </div>

    <div>
        <mat-icon [matMenuTriggerFor]="menu">account_circle</mat-icon>
        <mat-menu #menu="matMenu">
            <button mat-menu-item></button>
            <button mat-menu-item (click)="logOut()"><mat-icon>power_settings_new</mat-icon><span>Logout</span></button>
            
                
          </mat-menu>
    </div>

    </div>
</mat-toolbar>

<mat-drawer-container class="example-container" autosize>

    <mat-drawer #drawer class="example-sidenav" mode="over">
        <mat-nav-list>
            <mat-list-item routerLink="/"><mat-icon>home</mat-icon>&nbsp;&nbsp;Inicio</mat-list-item>
            <mat-list-item routerLink="/batata-crua"><mat-icon>favorite</mat-icon>&nbsp;&nbsp;Batatas</mat-list-item>
            <mat-list-item routerLink="/batata-assada"><mat-icon>favorite</mat-icon>&nbsp;&nbsp;Batatas assadas</mat-list-item>
            <mat-list-item routerLink="/pure-batata"><mat-icon>favorite</mat-icon>&nbsp;&nbsp;Purê de batatas</mat-list-item>
            <mat-list-item routerLink="/batata-frita"><mat-icon>favorite</mat-icon>&nbsp;&nbsp;Batatas fritas</mat-list-item>
            <mat-list-item routerLink="/"><mat-icon>favorite</mat-icon>&nbsp;&nbsp;Semente de batatas</mat-list-item>
            <mat-list-item routerLink="/"><mat-icon>favorite</mat-icon>&nbsp;&nbsp;Criar Pedido</mat-list-item>
        </mat-nav-list>
    </mat-drawer>

    <div style="display: inline;">
        <router-outlet></router-outlet>
    </div>
  
  </mat-drawer-container>
