<div *ngIf="totalPedido > 0" class="sem-pedido">
    <div>
        <h1>* Nenhum Pedido criado *</h1>
    </div>
</div>

<div *ngIf="totalPedido <= 0" class="container">
    <div class="lista-carrinho">
        <mat-card>
            <mat-tab-group mat-align-tabs="center">

                <mat-tab label="Cartão">Cartão</mat-tab>
                <mat-tab label="Pix">Pix</mat-tab>
                <mat-tab label="Boleto">Boleto</mat-tab>

            </mat-tab-group>
        </mat-card>
    </div>

    <div class="pagamento-card">
        <mat-card>
            <mat-tab-group mat-align-tabs="center">

                <mat-tab label="Cartão">
                    <div class="cartao-tab">
                        
                        
                        <form [formGroup]="formCardPay">

                            <h3>Selecione um tipo de pagamento de cartão:</h3>
                            <mat-form-field>
                                <mat-label>Ex: Débito</mat-label>
                                <mat-select formControlName="tipCard">
                                    <mat-option *ngFor="let tipo of tipoCartao" required [value]="tipo.value">{{ tipo.viewValue }}</mat-option>
                                </mat-select>
                            </mat-form-field>

                            <h3>Digite o nome como está no cartão:</h3>
                            <mat-form-field >
                                <input matInput formControlName="nomeCard" placeholder="Ex: Potato Store" required type="text">
                            </mat-form-field>

                            <h3>Digite o número como está no cartão:</h3>
                            <mat-form-field>
                                <input matInput formControlName="numCard" maxlength="16" required placeholder="Ex: 1234 1234 1234 1234">
                            </mat-form-field>

                            <div *ngIf="formCardPay.get('tipCard')?.value == 'op1'">
                                <h3>Selecione o número de parcelas:</h3>
                                <mat-form-field>
                                    <mat-label>Ex: 1x de XX,XX</mat-label>
                                    <mat-select formControlName="selParcelas">
                                        <mat-option *ngFor="let parcela of parcelas; let i = index" required [value]="i">{{ parcela }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                        </form>
                    </div>

                    <button mat-raised-button color="primary" (click)="finalizaPedido()">Finalizar Pagamento</button>
                </mat-tab>


                <mat-tab label="Pix">Pix</mat-tab>
                <mat-tab label="Boleto">Boleto</mat-tab>

            </mat-tab-group>
        </mat-card>
    </div>
</div>
