<div class="body">
    <div> 
        <mat-form-field >
            <mat-label>Escolha sua batata</mat-label>
            <input matInput class="form-control" type="text" name="search" [(ngModel)]="value"> 
            <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''; getBatatas()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>

    <div *ngIf="batatas.length > 0" style="display: flex" class="prod">
        <mat-card *ngFor="let produto of batatas | filter: value; let i = index" class="prodItem">
            <div class="container" (click)="navegaDetail(produto.id)">
                <img src="{{ produto.url }}" style="text-align: center" />
            </div>
            <div class="itemDesc" (click)="navegaDetail(produto.id)">
                <h1>{{ produto.nome }}&nbsp;&nbsp;-&nbsp;&nbsp;R$ {{ produto.valor }}</h1>
            </div>
        </mat-card>
    </div>
</div>