
<div *ngIf="totalPedido > 0">
    <div class="container">
        <h1>Confirme seu pedido!</h1>

        <div>
            <mat-list role="list" *ngFor="let produto of batatas">
                <mat-list-item role="listitem">* {{ produto.qtd }} - {{ produto.nome }}</mat-list-item>
            </mat-list>
    
            <br />
            <h2>R$ {{ totalPedido }}</h2>
        </div>

        <div class="btns">
            <button mat-raised-button >Cancelar</button>
            <button mat-raised-button color="primary" (click)="finalizaPedido()">Confirmar</button>
        </div>

    </div>
</div>
  
<div *ngIf="totalPedido <= 0">
    <div class="container-sem-ped">
        <h1>Seu pedido não possui itens!</h1>

        <button mat-raised-button (click)="finalizaPedido()">Retornar</button>
    </div>
</div>