@import "@angular/material/theming";
@include mat-core();

$custom-app-primary: mat-palette($mat-amber, 700);
$custom-app-secondary: mat-palette($mat-amber, A400);
$custom-app-warn: mat-palette($mat-red);

$custom-theme: mat-dark-theme(
  $custom-app-primary,
  $custom-app-secondary,
  $custom-app-warn
);

@include angular-material-theme($custom-theme);

*{
  font-family: Trebuchet MS  , sans-serif;
}

html,
body {
  height: 100%;
  background: gray;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
